<main class="page-tab" id="tab-initial">
    <div class="row">
        <div class="col-md-3 pt-3">
            <% include infoBlocks.ejs %>
        </div>
        <div class="col-md-9">
            <% include recentVideos.ejs %>
        </div>
    </div>
</main>
