<div class="my-3 p-3 bg-dark text-white rounded shadow-sm" id="recentVideos">
  <h4 class="mb-3 pb-3 text-white border-bottom-dotted border-color-blue"><%- lang['Recent Videos'] %></h4>
  <div class="flex-table flex-table-dark mx-n3 pt-2 px-3 row" id="recentVideosList"></div>
  <small class="d-block text-end mt-3">
    <a class="btn badge" onclick="openTab('monitorsList',{})"><%- lang['Monitors'] %></a>
  </small>
</div>
<script src="assets/js/bs5.recentVideos.js"></script>
