<link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.streamCarousel.css">
<div id="stream-carousel" class="my-3 p-30 bg-gradient-dark text-white rounded shadow-sm"></div>
<script src="<%-window.libURL%>assets/js/bs5.streamCarousel.js"></script>
