<main class="page-tab pt-3" id="tab-timelapseViewer">
    <div class="dark row">
        <%
          var drawBlock
          var buildOptions
        %>
        <%
          include fieldBuilders.ejs
        %>
        <% Object.keys(define['Timelapse'].blocks).forEach(function(blockKey){
              var accountSettings = define['Timelapse'].blocks[blockKey]
              drawBlock(accountSettings)
          }) %>
    </div>
</main>
